; ====== Export IR Yolo Formatted Dataset ======
[trainSetConfig]
only_manual_reviewed = True
background_ratio = 1
bbox_padding = 1
;species_map = {"UNK Seal": ["Ringed Seal", "Bearded Seal"]}
;species_filter = ["Ringed Seal", "Bearded Seal", "UNK Seal"]
species_filter = ["Ringed Seal", "Bearded Seal"]
remove_chip_if_species_present = ["UNK Seal"]

[testSetConfig]
only_manual_reviewed = True
background_ratio = 1
bbox_padding = 0
species_filter = ["Ringed Seal", "Bearded Seal"]
remove_chip_if_species_present = ["UNK Seal"]

[validSetConfig]
only_manual_reviewed = True
background_ratio = 1
bbox_padding = 1
species_filter = ["Ringed Seal", "Bearded Seal"]
remove_chip_if_species_present = ["UNK Seal"]

[chipConfig]
chip_w= 512
chip_h = 512
chip_stride_x = 400
chip_stride_y = 400
label_overlap_threshold = .6


[processingConfig]


[ExportYoloEODatasetTask]
dataset_root = /fast/generated_data/EO/
dataset_name = seals_512x512_noUNK
darknet_path = ${DARKNET_PATH}
num_examples=20
delete_images_on_rerun=False
force=True


[GenerateImageChips]
artifacts_root = ${LUIGI_OUTPUT_ROOT}/datasets/GenerateImageChips/

[BatchImageAnnotationInformation]
artifacts_root = ${LUIGI_OUTPUT_ROOT}/datasets/BatchImageAnnotationInformation/
