; ====== Export IR Yolo Formatted Dataset ======
[testSetConfig]
only_manual_reviewed = True
background_ratio = 1
bbox_padding = 1

[trainSetConfig]
only_manual_reviewed = True
background_ratio = 1
bbox_padding = 1

[validSetConfig]
only_manual_reviewed = True
background_ratio = 1
bbox_padding = 1

[chipConfig]
chip_dim = 416
chip_stride = 300
label_overlap_threshold = .6


[processingConfig]
species_map = {"UNK Seal": ["Ringed Seal", "Bearded Seal"]}

[ExportYoloEODatasetTask]
dataset_root = /fast/generated_data/EO/
dataset_name = seals_416x416_v2
species_filter = ["Ringed Seal", "Bearded Seal", "UNK Seal"]
darknet_path = ${DARKNET_PATH}
num_examples=20
delete_images_on_rerun=False
force=True


[GenerateImageChips]
artifacts_root = ${LUIGI_OUTPUT_ROOT}/datasets/GenerateImageChips/

[BatchImageAnnotationInformation]
species_filter = ["Ringed Seal", "Bearded Seal", "UNK Seal"]
artifacts_root = ${LUIGI_OUTPUT_ROOT}/datasets/BatchImageAnnotationInformation/
